<template>
    <v-form v-model="valid">
    <v-container>
      <v-row>
        <v-col
          cols="12"
          md="8"
        >
          <v-text-field
            v-model="itemName"
            :rules="nameRules"
            label="Item name"
            required
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          md="2"
        >
          <v-text-field
            v-model="itemAmount"
            :rules="nameRules"
            :counter="10"
            label="Quantity"
            required
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          md="2"
        >
          <v-btn
            color="success"
          >Add item</v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>

</script>