<template>
    <v-card
        color="deepbrown"
        tile
        elevation="3"
        class="mt-4"
    >
        <v-card-text>
            <v-text-field
                class="myblack--text"
                placeholder="Item"
                tile
            ></v-text-field>
            <v-text-field
                placeholder="Amount"
                tile
            ></v-text-field>
            <v-text-field
                placeholder="Price"
                tile
            ></v-text-field>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                tile
                color="deepgrey"
                elevation ="3"
                class=" HmtButton lightwhite--text"
                @click="dialog.value = false"
            >Create list</v-btn>
        </v-card-actions>
    </v-card>
</template>

<style scoped>
  .v-text-field {
    font-family: 'HugMeTight';
    background-color: #EFE4E4;
    padding: 1%;
    font-size: 100% 
  }
</style>