<template>
    <div>
      <v-text-field
        v-model="name"
        label="User Name"
        required
      ></v-text-field>
      <v-text-field 
        v-model="email" 
        label="E-mail" 
        required
      ></v-text-field>

    </div>
</template>

<script >

</script>

<style scoped>
  .v-text-field {
    font-family: 'HugMeTight';
    background-color: #EFE4E4;
  }
</style>