<template>
    <div>
        <v-container fluid >
            <div class="divcenter">
                <v-img
                    height ="50px"
                    width ="50px"
                    src="https://img.icons8.com/dusk/512/000000/facebook--v1.png"
                >
                </v-img>
                 <v-img
                    height ="50px"
                    width ="50px"
                    src="https://img.icons8.com/dusk/512/000000/instagram-new.png"
                >
                </v-img>
                <v-img
                    height ="50px"
                    width="50px"
                    src="https://img.icons8.com/dusk/512/000000/twitter--v2.png"
                >
                </v-img>
                <v-btn class="deepwhite--text" color=deepblue 
    
                >Download PDF</v-btn>
            </div>
            <div>
                
            </div>
        </v-container>
        

    </div>



</template>


<style>
.divcenter{
    display: flex;
   
    justify-content: center;
    height: 600px;
    width: 300px;

}
</style>
<script>

</script>