<template>
    <v-container fluid fill-height>
        <v-layout align-center justify-center>
            <v-flex md8>
                <v-card>
                    <v-toolbar color="primary" dark flat>
                        <v-toolbar-title>Login</v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                        <v-form>
                            <v-text-field
                                type="email"
                                label="Email"
                                v-model="email"
                                autocomplete="email"
                                :rules="emailRules"
                                required
                            ></v-text-field>
                            <v-text-field
                                autocomplete="current-password"
                                label="Password"
                                v-model="password"
                                :rules="passwordRules"
                                type="password"
                                required
                            ></v-text-field>
                            <v-btn
                                color="success"
                                @click="login"
                            >Sign in</v-btn>
                            <v-btn
                                color="warning"
                                @click="register"
                            >Register</v-btn>
                        </v-form>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
        <v-snackbar
        v-model="snackbar"
        >
            {{ text }}

            <template v-slot:action="{ attrs }">
                <v-btn
                color="pink"
                text
                v-bind="attrs"
                @click="snackbar = false"
                >
                Close
                </v-btn>
            </template>
        </v-snackbar>
    </v-container>
</template>

<script>
import { ACTIONS } from '~/store/index'

export default {
    layout: 'auth',
    data: () => ({
        emailRules: [
            v => !!v || 'E-mail is required',
            v => /.+@.+/.test(v) || 'E-mail must be valid',
        ],
        passwordRules: [
            v => !!v || 'Password is required',
            //v => v.length <= 6 || 'Password must be more than 6 characters',
        ],
        email: 'foofoo@email.com',
        password: 'password',
        snackbar: false,
        text: '',
    }),
    methods: {
        async register() {

            if (this.email == '' || this.password == '') {
                this.text = 'Tous les champs sont requis !'
            }

            try {
                await this.$store.dispatch(ACTIONS.ADD_USER_METHOD, {
                    email: this.email,
                    password: this.password,
                })
                this.$router.push('/auth')
            } catch (error) {
                this.text = error.message
                this.snackbar = true
            }
        },

        async login() {
            try {
                await this.$store.dispatch(ACTIONS.SIGN_IN_METHOD, {
                    email: this.email,
                    password: this.password,
                    
                })

                this.$router.push('/')
            } catch (error) {
                this.text = error.message
                this.snackbar = true
                //alert("Invalid creditentials")
            }
        },
    },
}

</script>