<template>
    <v-container>
        {{ users }}
    </v-container>
</template>

<script>

export default {
    data:() => ({
        users: [],
    }),
    mounted() {
        this.$fire.firestore
        .collection('users')
        .get()
        .then(
            (listUser) => (this.users = listUser.docs.map())
        )
    }
}

</script>