@font-face {
    font-family: "HugMeTight";
    src: url(~assets/fonts/HugMeTight-TTF.ttf) format("truetype");
}

@font-face {
    font-family: "AestheticNotes";
    src: url(~assets/fonts/AestheticnotesDemo-AL69x.otf) format("truetype");

}

@font-face {
    font-family: "GrowingGarden";
    src: url(~assets/fonts/GrowingGarden-Regular.ttf) format("truetype");
}

.AnTitle {
    font-family: 'AestheticNotes';
    font-size: 260%;
    
}
.HmtButton{
    font-family: 'HugMeTight';
    font-size : 100%;
    color: lightwhite ;
    
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.BigAnTitle {
    font-family: 'AestheticNotes';
    font-size: 350%;
    
}

body {
    background-color: yellow;
}