<template>
  <v-app light>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
      color="deepgrey"
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" color="deepwhite"/>
      <v-spacer></v-spacer>
      <v-toolbar-title v-text="title" class="BigAnTitle deepwhite--text" />
      <v-spacer></v-spacer>
      <v-btn v-if="isConnected" color="primary" @click="logout">Sign out</v-btn>
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    <v-navigation-drawer
      v-model="rightDrawer"
      :right="right"
      temporary
      fixed
    >
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light>
              mdi-repeat
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer
      :absolute="!fixed"
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import { ACTIONS } from '~/store/index'

export default {
  data () {
    return {
      clipped: true,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-shield-account',
          title: 'Profile',
          to: '/'
        },
        {
          icon: 'mdi-file-multiple',
          title: 'My lists',
          to: '/lists'
        },
      ],
      miniVariant: false,
      right: false,
      rightDrawer: false,
      title: 'Smart Shopping'
    }
  },
  computed: {
    isConnected: function () {
      if (this.$cookies.user) {
          return false
      } else {
          return true
      } 
    }
  },
  methods: {
    async logout() {
      await this.$store.dispatch(ACTIONS.SIGN_OUT_METHOD)
      
      if (!this.$store.state.isConnected || this.$route.path == '/') {
        console.log("WSH PAS LE DOIT")
        this.$router.push('/auth')
      }
      
      
    },
  },
}
</script>
<style scoped>
.BigAnTitle {
    font-family: 'AestheticNotes';
    font-size: 310%;
    
}
</style>