<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      
      <v-card>
        <v-card-title class="headline">
          <v-icon size="64">mdi-account</v-icon> Profile
        </v-card-title>
        <v-card-text>
          <p><b>UID :</b> {{ userData.uid }}</p>
          <p><b>EMAIL :</b> {{ userData.email }}</p>
          <hr class="my-3"> 
          <div class="text-right">
            <v-btn dark color="info" class="HmtButton">My lists</v-btn>
            <v-btn dark color="red" class="HmtButton" @click="addFirestore">Delete account</v-btn>
          </div>
          
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data:() => ({
    user: {
      uid: '',
      email: '',
    },
  }),
  computed: {
    userData: function () {
      return this.$store.state.user
    }
  },
  methods: {
    addFirestore() {
      console.log(this.$route.path)
    },
  },
}
</script>
<style scoped>
.test{
   font-family : 'HugMeTight';

}
</style>
