<template>
  <v-row>
    <v-col class="text-center">
      <v-container>

        <v-card 
            v-for="item in listsData"
            :key="item.name"
            color="deepbrown"
            tile
            elevation="3"
            class="justify-center mt-2"
            >
            <v-card-title 
                class="Tile3 lightwhite--text vertical-center"
            >
                {{ item.name }}
            </v-card-title>
            <v-spacer></v-spacer>
            <v-card-text class="vertical-center"></v-card-text>
            <v-spacer></v-spacer>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    class="HmtButton lightwhite--text"
                    color="deepgrey"
                    elevation="3"
                    tile
                    @click="show"
                >Open</v-btn>
            </v-card-actions>
        </v-card>
    </v-container>

    </v-col>
  </v-row>
</template>

<script>
import { ACTIONS } from '~/store/lists'

export default {
  data: () => ({
    listName: "",
    lists: [],
  }),
  methods: {
    add() {
      this.$store.dispatch(ACTIONS.SET_LIST_METHOD, {
        name: this.listName,
      })
    },
    show() {
      this.$store.dispatch(ACTIONS.GET_LISTS_METHOD, {
        uid: this.$store.state.user.uid
      })
      console.log(this.$store.state.lists.my_lists)
    }
  },
  computed: {
    listsData: function () {
      return this.$store.state.lists.my_lists
    }
  },
  mounted() {
    //console.log(this.$store.state.user.uid)
    this.$store.dispatch(ACTIONS.GET_LISTS_METHOD, {
      uid: this.$cookies.get("user").uid,
    })
    //this.lists = this.$store.state.lists.my_lists
  }
}

</script>
