<template>
    <v-card
        color="deepwhite"
        tile
        elevation="3"
        class="flexcard"

    >
        <v-container>
            <v-dialog
                transition="dialog-bottom-transition"
                max-width="500"
                tile
            >
                <template v-slot:activator="{ on, attrs }">
                    <v-card
                        color="deepbrown"
                        tile
                        elevation="3"
                        class="justify-center"
                    >
                        <v-card-title class="AnTitle lightwhite--text vertical-center">Lists</v-card-title>
                        <v-card-actions>
                        <v-spacer></v-spacer>
                            <v-btn
                                class="HmtButton lightwhite--text"
                                color="deepgrey"
                                elevation="3"
                                tile
                                v-bind="attrs"
                                v-on="on"
                                @click="showNewList"
                            >New list</v-btn>
                        </v-card-actions>
                    </v-card>
                </template>
                <template v-slot:default="dialog"> 
                    <v-card
                        color="deepbrown"
                        tile
                        elevation="3"
                        class="flexcard"
                    >
                        <v-container>
                            <v-card
                                color="deepgrey"
                                tile
                                elevation="3"
                                class="justify-center">
                                <v-spacer>
                                <v-card-title 
                                    class="dialogTitle lightwhite--text justify-center"
                                    >New List 
                                </v-card-title>
                                </v-spacer>
                                <v-card
                                    color="deepwhite"
                                    tile
                                    elevation="3"
                                    class="justify-center">
                                    <v-card-text class="p-4">
                                        <v-form v-model="valid">
                                            <v-text-field
                                                class="myblack--text"
                                                label="List name"
                                                v-model="listname"
                                                ref="form"
                                                :rules="namesRules"
                                                :counter="15"
                                                required
                                            ></v-text-field>
                                        </v-form>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn
                                            tile
                                            color="deepgrey"
                                            elevation ="3"
                                            class=" HmtButton lightwhite--text"
                                            @click="dialog.value = false && validate"
                                        >Create list</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-card>
                        </v-container>
                    </v-card>
                </template>
            </v-dialog> 
            <Lists></Lists> 
        </v-container>
    </v-card>    
</template>

<script>
export default {
    data: () => ({
        bool: false,
        valid: false,
        listname: '',
        namesRules : [
            v => !!v || 'List name is required',
            v => v.length <= 15 || 'List name bust be less then 15 characters',
        ],
        
    }),
    methods: {
        showNewList() {
            if (this.bool) {
                this.bool = false
            } else {
                this.bool = true
            }
        },
    }
}
</script>
<style scoped>
    .AnTitle {
    font-family: 'AestheticNotes';
    font-size: 260%;
    
}
.HmtButton{
    font-family: 'HugMeTight';
    font-size : 100%;
    color: lightwhite ;
    
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.v-text-field {
    font-family: 'HugMeTight';
    font-size: 100% 
    
}
.flexcard {
  display: flex;
  flex-direction: column;
}
.v-dialog{
        border: 1px solid gold;
}
.dialogTitle{
    font-size: 270%;
    font-family: 'AestheticNotes';
}

</style>